#settingPanel {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 600;
    /* height: 160px; */
    /* max-width: 600px; */
    /* border-radius: 8px; */
    color: #444;
    transition: .2s ease-in-out;
}

#settingPanel.enable {
    background-color: #f8f9fa;
    transform: translateY(0%);
}

#settingPanel.disable {
    background-color: transparent;
    transform: translateY(100%);
    bottom: 48px;
}

#setting_header {
    padding: 4px 16px;
    color: #fff;
    user-select: none;
    cursor: move;
    /* background-color: #6c757d; */
    /* border-radius: 8px 8px 0px 0px; */
    /* display: none; */
}

#settingPanel.disable #setting_header {
    background-color: transparent
}

#setting_content {
    position: relative;
    padding: 16px 16px;
    max-width: 600px;
    max-height: 600;
    left: 50%;
    transform: translateX(-50%);
}

#settingPanel.disable #setting_content {
    /* max-height: 0px; */
    padding: 0px;
    opacity: 0;
}

#settingPanelClose {
    position: relative;
    width: 60px;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    user-select: none;
}

#settingPanelClose:hover {
    background-color: #0002;
}


#settingPanelClose:focus {
    box-shadow: none;
}

#settingPanel.disable #settingPanelClose {
    height: 48px;
    color: #fff;
}

#settingPanel.disable #settingPanelClose:hover {
    background-color: #EEE2;
}

#setting_content .btn-icon {
    height: 36px;
    width: 48px;
}

/* ============================================================= */
/*  */
/* ============================================================= */
.setting-frame {
    position: fixed;
    width: 100%;
    height: 100%;
    /* user-select: none; */
    z-index: -10;
}

.setting-frame.disable {
    animation-duration: 0.3s;
    animation-name: opacity-out;
    animation-fill-mode: forwards;
}

.setting-frame.enable {
    animation-duration: 0.3s;
    animation-name: opacity-in;
    animation-fill-mode: forwards;
}

.setting-overlay {
    width: 100%;
    height: 100%;
    background-color: #0009;
    transition: .2s ease-in-out;
}

.setting-frame.disable .setting-overlay {
    opacity: 0;
}

.setting-frame.enable .setting-overlay {
    opacity: 1;
}

.setting-frame .setting-base {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: #f9f9f9;
    transition: .2s ease-in-out;
    box-shadow: -5px 0rem 5rem rgba(0, 0, 0, .3);
}

.setting-frame.disable .setting-base {
    transform: translateX(105%);
}

.setting-frame.enable .setting-base {
    transform: translateX(0%);
}

.setting-header-btn {
    position: absolute;
    top: 16px;
    left: 8px;
    height: 32px;
}

.setting-header {
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
    font-size: 1.25rem;
    background-color: #f9f9f9;
}

.setting-content {
    position: absolute;
    top: 64px;
    bottom: 72px;
    padding: 16px;
    width: 100%;
    overflow-y: scroll;
    background-color: #f9f9f9;
}

.setting-footer {
    position: absolute;
    height: 72px;
    width: 100%;
    padding: 16px 16px;
    right: 0px;
    bottom: 0px;
    border-top: 1px solid #dee2e6;
    text-align: end;
    background-color: #f9f9f9;
}

@keyframes opacity-in {
    0% {
        z-index: -10;
    }

    1% {
        z-index: 3000;
    }

    100% {
        z-index: 3000;
    }
}

@keyframes opacity-out {
    0% {
        z-index: 3000;
    }

    99% {
        z-index: 3000;
    }

    100% {
        z-index: -10;
    }
}